// packages/core/src/sass/tokens/_radius.scss
/// Border radius system
/// @group tokens

// Import required SASS modules
@use "sass:map";

$mild-radius: (
  none: 0px,
  sm: 0.125rem,
  base: 0.25rem,
  md: 0.375rem,
  lg: 0.5rem,
  xl: 0.75rem,
  "2xl": 1rem,
  "3xl": 1.5rem,
  full: 9999px,
) !default;

// Radius function
@function mild-radius($size) {
  @return map.get($mild-radius, $size);
}

// Generate radius custom properties
@mixin generate-radius-properties() {
  @each $radius-name, $radius-value in $mild-radius {
    --mild-radius-#{$radius-name}: #{$radius-value};
  }
}
